form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
}

label {
    color: #555;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    padding: 10px; /* Ajustado para mayor espacio alrededor del texto */
    transition: all .3s ease;
    width: 70%; /* Ajusta esto según el ancho deseado */
    margin-bottom: 20px; /* Espacio entre el textarea y el botón */
}

.TodoForm-button {
    background: #00a8ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 42px;
    outline: none;
    padding: 0 20px;
    transition: all .3s ease;
    width: 60%; /* Ajusta esto según el ancho deseado */
}
.TodoForm-button--add{
    background: #00a8ff;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 42px;
    outline: none;
    padding: 0 20px;
    transition: all .3s ease;
}